# NECESSARY PARAMETERS
pdb_file = 'AAA'		# Local or Global position of a pdb file of the MD system that will be analyzed
prmtop_file = 'BBB'		# Local or Global position of a prmtop file of the MD system that will be analyzed
traj_file = 'CCC'		# Local or Global position of trajectory file of the MD system that will be analyzed
pocket_selection = 'protein and resid 27:35 60 63:64 117:118 147 149 159 245:249 288:289 292:293 296'	# MDAnalysis selection string describing the residues that make up the NTPase active site
wat_O_name = 'O'	# oxygen atom name
wat_H_name = 'H1'	# hydrogen atom name; does not matter which hydrogen is used

# OPTIONAL PARAMETERS
wat_resname = 'resname WAT'	# MDAnalysis string to select waters in pdb/prmtop/trajectory
pocket_radius = 8.0	# radius of sphere used to describe the NTPase active site; sphere origin is the center of geometry of the pocket_selection
number_of_wats_filename = 'num_wats_pocket.XXX.dat' 	# File to print out the number of water molecules within the NTPase active site sphere
wat_res_nums_filename = 'res_nums_wats_pockets.XXX.dat'	# File to print out the atom numbers of the oxygen atom of TIP3 residues within the NTPase active site sphere
center_of_geometry_filename = 'COG_pocket.XXX.xyz' 	# File to print a vmd xyz trajectory showing the motion of the COG of the NTPase active site sphere
correlation_filename = 'autocorrelation.XXX.dat'	# data file name that holds the MSD (and error analysis) and O-H bond autocorrelation results 
long_lived_wat_filename = 'long_lived_wats.XXX.vmd'		# not really writing this file in the vis-state format but it has a string that can be copied into vmd to visualize the water residues that live in the defined pocket for an extended amount of time (200 frames)
Wrapped = True			# Boolean; True if the simulation has already been wrapped about a molecule; moving all molecules to within the original periodic image; False if the simulation has not been wrapped.
water_OH_bond_dist = 0.9572	# TIP3P water model O-H bond distance; Assumes SHAKE or SETTLE or rigidBond is used to keep water O-H bonds rigid
summary = True			# Boolean; True, print out a summary file describing the analysis performed and all parameters used
summary_filename = 'water_diffusion.summary'		# summary file name; only used if summary boolean is True

