# NECESSARY PARAMETERS
pdb_file = '../../truncated.pdb'	# Local or Global position of a pdb file of the MD system that will be analyzed
traj_loc = '../../Trajectories/production.%s/production.%s.dcd'		# general Local or Global position of trajectory files of the MD system that will be analyzed
start = AAA	# number of first trajectory to be analyzed 
end = BBB 	# number of last trajectory to be analyzed 
average_pdb = '../../Avg_structure/XXX.YYY.avg_structure/XXX.YYY.amber_ssrna_atp.avg_structure.pdb'	# general Local or Global position of a pdb file of the average structure of the MD system corresponding to the same chunk of trajectory to be analyzed; this structure does not need to have the same number of total atoms as long as it has the same number of atoms of the analyzed portion of the system)

# OPTIONAL PARAMETERS
alignment = 'protein and name CA and (resid 20:25 50:55 73:75 90:94 112:116 142:147 165:169 190:194 214:218 236:240 253:258 303:307)'	# MDAnalysis formatted string identifying the alignment landmark to be used
covar_selection = 'protein and not resid 0:19'	# MDAnalysis formatted string identifying the portion of the system to be analyzed 
coarseness = 'COM'  # string used to decide the coarseness of the correlation analysis; either 'COM' (center of mass) or 'Atomic' are options; 'Atomic' can be more fine grain than the 'COM' 
fine_grain_selection = 'name CA' # MDAnalysis formatted string used only if the coarseness is set to 'Atomic';

### Filenames of output data for the cartesian correlation analysis of the residue-residue pairs
cartesian_correlation_filename = 'XXX.YYY.amber_ssrna_atp.cartesian_correlation.dat'
cartesian_average_filename = 'XXX.YYY.amber_ssrna_atp.cartesian_average.dat'
cartesian_variance_filename = 'XXX.YYY.amber_ssrna_atp.cartesian_variance.dat'

### Filenames of output data for the distance correlation analysis of the residue-residue pairs
distance_correlation_filename = 'XXX.YYY.amber_ssrna_atp.distance_correlation.dat'
distance_variance_filename = 'XXX.YYY.amber_ssrna_atp.distance_variance.dat'

### Parameters needed to 'functionalize' the distance correlation matrix, where the -log of the absolute value of the correlation matrix is printed out; WISP paper states that this helps for visualization of results
functionalize_distance_correlation_bool = True
functionalized_distance_correlation_filename = 'XXX.YYY.amber_ssrna_atp.func_dist_covar.dat'

### Parameters needed to perform principle component analysis on the residue-residue covariance matrix; this is time consuming
PCA_bool = True
PCA_eigenvalues_filename = 'XXX.YYY.amber_ssrna_atp.PCA_cart_eigenvalues.dat'
PCA_eigenvectors_filename = 'XXX.YYY.amber_ssrna_atp.PCA_cart_eigenvectors.dat'

summary = True
summary_filename = 'XXX.YYY.amber_ssrna_atp.covar_analysis.summary'

