# NECESSARY PARAMETERS
pdb = '../../truncated.pdb'	# Local or Global position of a pdb file of the MD system that will be analyzed
important = 'protein or nucleic or resname A5 A3 U5 U3 C5 C3 G5 G3 atp adp PHX MG'
traj_loc = '../../Trajectories/production.%s/production.%s.dcd'	# general Local or Global position of the directory tree where trajectories are located; includes the trajectory filename and extension
start = AAA		# the integer of the trajectory that will be first to be analyzed
end = BBB		# the integer of the trajectory that will be last to be analyzed

avg_dist_pdb = 'CCC.avg_structure.aaa.bbb.pdb'	# average structure output file name; format pdb
std_dist_pdb = 'CCC.std_structure.aaa.bbb.pdb'	# average structure output file name; format pdb

# OPTIONAL PARAMETERS
write_summary = True		# Boolean value; if True, the script will print out a summary file that breaks down the parameters used in the analysis and how to rerun the same analysis
summary_filename = 'aaa.bbb.amber_ssrna.rmsd.summary'	# summary file name

