# NECESSARY PARAMETERS
pdb = '../truncated.pdb'	# Local or Global position of a pdb file of the MD system that will be analyzed
traj_loc = '../Trajectories/production.%s/production.%s.dcd'	# Local or Global position of the directory where trajectories are located
start = 1		# the integer of the trajectory that will be first to be analyzed
end = 150	 	# the integer of the trajectory that will be last to be analyzed
pocket_selection = 'protein and resid 27:35 60 63:64 117:118 147 149 159 245:249 288:289 292:293 296'
pocket_radius = 8.0	# radius of sphere used to describe the NTPase active site; sphere origin is the center of geometry of the pocket_selection
wat_resname = 'resname WAT'	# MDAnalysis string to select waters in pdb/prmtop/trajectory
wat_O_name = 'O'	# oxygen atom name
substrate_atom1 = 'resname atp and name O3B'	# atom name of the oxygen in the terminal phosphoanhydride bond; adp leaving group
substrate_atom2 = 'resname atp and name PG'	# atom name of the phosphorous in the terminal phosphoanhydride bond; Pi leaving group; this atom is used in both the attacking distance and bond angle metrics

# OPTIONAL PARAMETERS
Wrapped = True

# OUTPUT PARAMETERS
write_summary = True		# Boolean value; if True, the script will print out a summary file that breaks down the parameters used in the analysis and how to rerun the same analysis
summary_filename = 'AMBER_ssrna_atp.nucleophilic_waters.summary'
nucl_wat_outputname ='AMBER_ssrna_atp.nucleophilic_waters.dat'
avg_wat_outputname = 'AMBER_ssrna_atp.avg_waters.dat'
center_of_geometry_filename = 'AMBER_ssrna_atp.COG.xyz'

